# ===== Build outputs =====
/build/
/bin/
cmake-build-*/

# ===== Compiled files =====
*.exe
*.dll
*.pdb
*.obj
*.ilk
*.lib
*.exp

# ===== CMake =====
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# ===== Visual Studio =====
.vs/
*.vcxproj*
*.sln
*.user

# ===== VS Code =====
.vscode/

# ===== Logs =====
*.log

# ===== OS =====
.DS_Store
Thumbs.db
